### IDE Specific ###
.idea
*.iml
.settings
.project
.classpath
.vscode

###Project Specific Folders ###
.git
node
node_modules
build
dist
target
CameraOutput
WeighBridge

###Project Specific Files ###

logs
test.java
weighdata.mv.db
weighdata.trace.db
