### IDE Specific ###
.idea
*.iml
.setting
.project
.classpath
.vscode

###Project Specific Folders ###
.git
node
node_modules
build
dist
target
WeighBridge
WebCamOutput
.settings
logs

###Project Specific Files ###

test.java
weighdata.mv.db
weighdata.trace.db
pom.xml.versionsBackup

