body {
    background: #5ab15291;
    color: black;
}

input[type="text"]:disabled {
    background-color: #5ab15291;
}

.tab-content {
    font-weight: 500;
}

.Typeahead,
input {
    text-align: center !important
}

.nav-tabs {
    text-Transform: uppercase;
    border-bottom: red 2px solid
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #e8e8e8;
    border-radius: 1em;
    transition: all .15s linear;
}

.nav-tabs .nav-link:hover {
    color: #495057;
    background-color: #ffffff70;
    border: none;
    border-radius: 1em;
    transition: all .15s linear;
}

.nav-item {
    color: black;
}

.nav-pills {
    text-Transform: uppercase;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #495057;
    background-color: #e8e8e8;
    border-radius: 5px;
    transition: all .15s linear;
}

.nav-pills .nav-link:hover {
    color: #495057;
    background-color: #ffffff70;
    border: none;
    border-radius: 5px;
    transition: all .15s linear;
}

.adam-button {
    padding: 8px 14px;
    letter-spacing: 1px;
    background: #9c27b0;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #9c27b0;
    font-weight: 300;
    font-size: 14px;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.adam-button:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    background: #9c27b0;
    border: 1px solid #9c27b0;
}

.adam-button:disabled {
    background: #9c27b0;
    border: 1px solid #9c27b0;
}

.contentCenter{
    text-align: center;
}
.reportInputs{
    border: 1px solid #ced4da00 !important; 
    background-color: transparent !important; 
}

.disbleBG{
    background-color: #e9ecef !important;
    color: black;
}